body
{
    background-image: url("../images/allAdv1.jpg");
    background-size: cover;
    background-color: aqua;
}
header
{
    text-align:center;
    position:fixed;
    z-index: 5;
    width:100%;
    top:0px;

}

.navbar
{
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding:10px 20px;
    background-color: rgb(230, 79, 79);
    margin:auto;

   


}
.navbar div
{
    border:solid black  2px;
    border-radius: 10%;
    padding:10px 10px;
    background-color: rgb(58, 42, 42);
    color:white;
    font-size: large;
    font-weight:bold

}
.navbar div:hover
{
    background-color: maroon;
}
.navbar div a
{
    color:white;
    text-decoration: none;
}


main
{
    position:relative;
    display: flex;
    justify-content: space-around;
    padding:10px 50px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top:70px
}
 .head
{
    text-align: center;
    position:relative;
    top:70px;
    
}
.adv
{
    position:relative;
    width:25.33%;
    background-color: rgb(153, 179, 179);
    border:solid black 2px;
    margin:auto;
    margin-top:30px;
    color:rgb(80, 1, 1);

}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 30, 46, 0.5);
    z-index: -1;
    cursor: pointer;
  
}


.adv:hover .overlay
{
    z-index:2;
}

.adv a
{
    text-decoration: none;
    color:rgb(80, 1, 1);
}
.img
{
    position:relative;
    width:100%;
    height: 250px;
    z-index:1

}

.img img
{
    width:100%;
    height:100%
}
.info
{
    position:relative;
    width:100%;
    z-index:1
}
.info div
{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:70%;
    flex-direction: row-reverse;
    margin:auto;
    margin-top:10px
}

