body
{
    background-color: rgb(233, 224, 224);
    background-image: url("../images/main4.jpg");
    
    background-size: cover
}
header
{
    height:50px;
    /*background-color: lightslategray;*/
   /* border:black solid 2px; */
    padding-bottom: 20px;
    color:rgb(139, 46, 46);
    display: flex;
    justify-content: space-between;
}
header h1
{
    margin-left:40%;
}
header h2
{
    margin-right:10%;
    margin-top:20px
}
main
{
    /*background-color: khaki; */
    height:500px

}
section
{
    margin:auto
}

.navbar
{
    display:flex;
    justify-content: space-between;
    background-color: rgb(230, 79, 79);
    margin-top:20px;
    padding:10px 10px;

}
.navbar span
{
    border:solid black 2px;
    background-color: rgb(58, 42, 42);
    height:20px;
    text-align: center;
    padding:10px 10px;
    cursor:pointer;
    font-size: large;
}
.navbar a
{
   color:white;
   text-decoration: none;
   border-radius: 100%;
}
.navbar span:hover
{
    background-color: rgb(59, 123, 153);
    opacity: 0.7
}
.headOfsearch
{
    text-align:center;
    color:rgb(20, 18, 18);
    font-size:x-large;
    font-weight: bold
}
.search
{
    background-color:rgb(59, 52, 52);
    margin-top:20px;

}
.searchAttributes
{

    display:flex;
    justify-content: space-between;
    height:100px;
    padding:20px 20px;
    color:white;
    font-weight: bold;
    font-size: large

}
.searchAttributes label
{
    margin-right:10px
}
.searchAttributes select
{
    font-size:medium;
    color:rgb(119, 31, 31);
    font-weight: bold;
} 
 

.searchAttributes select
{
    background-color: turquoise;
    border-radius:20%
}
.searchAttributes  input[type="text"]
{
    width:100px;
    height:30px
}

.searchButton 
{
    margin:auto;
    width:100px;
    height:50px;
    background-color: rgb(133, 30, 30);
    color:white;
    margin-bottom:20px;
    margin-left:40%;
    font-size: large
}
.searchButton:hover
{
    opacity:0.7;
    background-color: rgb(53, 93, 153);
   cursor:pointer
}
